<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue.js DevMeetings</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
    </head>
    <body>

        <div id="app">
            <h1>{{ headline }}</h1>

            <div>
                <h3>Tasks:</h3>
                <ul>
                    <li v-for="(task, index) in tasks" :key="task.id">
                        {{ task.value }}

                        <button @click="removeTask(index)">x</button>
                    </li>
                </ul>

                <h3>Add new task</h3>
                <input placeholder="task" v-model="taskInput">
                <button @click="addTask">Add task</button>
            </div>
        </div>

        <script src="vue.js"></script>
    </body>
</html>